MONGO_URI=
PORT=

JWT_AUTH=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

SSLCOMMERZ_STORE_ID=your_sslcommerz_store_id
SSLCOMMERZ_STORE_PASSWORD=your_sslcommerz_store_password
SSLCOMMERZ_IS_SANDBOX=true
SSLCOMMERZ_SESSION_API=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSLCOMMERZ_VALIDATION_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php

FRONTEND_URL=https://wedding-planner-nextjs-nestjs-theta.vercel.app
BACKEND_URL=https://your-render-backend-url.onrender.com
